@font-face {
    font-family: custom;
    src: url(https://scuffedclient.com/fonts/devCss.ttf)
}
html {
    animation: e 3s infinite;
}
body, html{
    font-family: custom;
    display: grid;
    place-items: center;
    user-select: none;
}

#e {
    color: white;
    font-size: 800px;
    margin-top: 1rem;
}

@keyframes e {
    0% {
        background-color: red;
    }

    20% {
        background-color: yellow;
    }

    40% {
        background-color: green;
    }

    60% {
        background-color: blue;
    }

    80% {
        background-color: purple;
    }

    to {
        background-color: red;
    }
}
